<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <script>
        class HelloWorldElemnt extends HTMLElement{
            static observedAttributes = ["data-name"];

            constructor(){
                super();
            
                this.attachShadow({mode: "open"});
                const tpl = document.getElementById("template-wc");
                // const span = document.createElement("span")
                // span.textContent = "Hello World!!!"
                // this.shadowRoot.append(span);
                this.shadowRoot.append(tpl.content.cloneNode(true));
            }
        }

        customElements.define("hello-world", HelloWorldElemnt)
    </script>
</head>

<body>
    <template id="template-wc">
        <style>
            :host{
                display: block;
                background-color: #666;
                color: white;
                padding: 1em;
                margin: 1em;
            }
        </style>
        <h2>Este é o titulo</h2>
        <p>Este é um conteudo definido dentro do template</p>
    </template>

    <h1>Template</h1>
    <hello-world></hello-world>


    <script>
        const tpl = document.getElementById("template-wc");
        document.body.append(tpl.content.cloneNode(true));
    </script>
</body>
</html>